* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1b1b86; 
  color: white; 
  padding: 0px;
}

.logo {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #1b1b86;
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.contact-info, .links, .social-media {
  width: 30%; 
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .logo {
      font-size: 10px; 
  }
}
