* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(to bottom, #1b1b86, #ffffff);
  color: white; 
  padding: 0px;
}

.logo {
  font-size: 24px;
}

img {
  width: 250px;
}

nav {
  border-top: 2px solid #1b1b86;
  border-bottom: 2px solid #1b1b86;
  text-align: center;
}


.nav-menu {
  list-style-type: none; 
  padding: 0;
  margin: 0; 
  justify-content: center;
  display: flex; 
}

.nav-menu li {
  margin-right: 20px; 
}

.nav-menu a {
  color: #1b1b86;  
  text-decoration: none; 
  font-size: 30px;
}

.nav-menu a:hover {
  text-decoration: underline; 
}

.menu-toggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #1b1b86;
  margin: 3px 0;
}

main {
  padding: 20px;
  text-align: justify;
}

footer {
  background-color: #8d9690;
  color: #fff;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.contact-info, .links, .social-media {
  width: 30%; 
}

.social-media img {
  width: 60px;   
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .logo {
    width: 20px;
  }

  img {
    width: 200;
  }  

  nav {
    border-top: none;
    border-bottom: none;
  }

  .nav-menu {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    position: absolute;
    top: 60px; 
    left: 0;
    z-index: 1;    
  }

  .nav-menu.active {
    display: flex; 
  }

  .nav-menu a {
    color: #1b1b86; 
    text-decoration: none; 
    padding: 15px 20px; 
  }

  .menu-toggle {
      display: flex; 
      margin-left: auto; 
      padding: 15px;
      margin-right: 0;
  }

  .footer-container {
      flex-direction: column; 
      align-items: center; 
  }

  .contact-info, .links, .social-media {
      width: 100%; 
      margin-bottom: 15px; 
  }
}